<div *ngIf="selectedMicroalgae">
    <h2>{{selectedMicroalgae.specie | uppercase}}</h2>
    <mat-list>
      <mat-divider *ngIf="selectedMicroalgae.origin_typeLoc"></mat-divider>
      <mat-list-item *ngIf="selectedMicroalgae.origin_typeLoc">
        <b>Origin / Type locality: </b><span style="padding-left:20px"> {{ selectedMicroalgae.origin_typeLoc }} </span>
      </mat-list-item>
      <mat-divider *ngIf="selectedMicroalgae.origin_typeLoc"></mat-divider>
      <mat-list-item *ngIf="selectedMicroalgae.distribution">
        <b>Distribution: </b><span style="padding-left:20px"> {{ selectedMicroalgae.distribution }} </span>
      </mat-list-item>
      <mat-divider *ngIf="selectedMicroalgae.distribution"></mat-divider>
      <mat-list-item *ngIf="selectedMicroalgae.vector">
        <b>Vector: </b><span style="padding-left:20px"> {{ selectedMicroalgae.vector }} </span>
      </mat-list-item>
      <mat-divider *ngIf="selectedMicroalgae.vector"></mat-divider>
      <mat-list-item *ngIf="selectedMicroalgae.reports">
        <b>Reports: </b><span style="padding-left:20px"> {{ selectedMicroalgae.reports }} </span>
      </mat-list-item>
      <mat-divider *ngIf="selectedMicroalgae.reports"></mat-divider>
      <mat-list-item *ngIf="selectedMicroalgae.conspicuousness">
        <b>Conspicuousness: </b><span style="padding-left:20px"> {{ selectedMicroalgae.conspicuousness }} </span>
      </mat-list-item>
      <mat-divider *ngIf="selectedMicroalgae.conspicuousness"></mat-divider>
      <mat-list-item *ngIf="selectedMicroalgae.studies">
        <b>Studies: </b><span style="padding-left:20px"> {{ selectedMicroalgae.studies }} </span> 
      </mat-list-item>
      <mat-divider *ngIf="selectedMicroalgae.studies"></mat-divider>
      <mat-list-item *ngIf="selectedMicroalgae.origin">
        <b>Origin> </b><span style="padding-left:20px"> {{ selectedMicroalgae.origin }} </span>
      </mat-list-item>
      <mat-divider *ngIf="selectedMicroalgae.origin"></mat-divider>
      <mat-list-item *ngIf="selectedMicroalgae.impact">
        <b>Economic and/or ecological impact: </b><span style="padding-left:20px"> {{ selectedMicroalgae.impact }} </span>
      </mat-list-item>
      <mat-divider *ngIf="selectedMicroalgae.impact"></mat-divider>
      <mat-list-item *ngIf="selectedMicroalgae.criteria_inv_spread">
        <b>Criteria invasiveness - spread: </b><span style="padding-left:20px"> {{ selectedMicroalgae.criteria_inv_spread }} </span>
      </mat-list-item>
      <mat-divider *ngIf="selectedMicroalgae.criteria_inv_spread"></mat-divider>
      <mat-list-item *ngIf="selectedMicroalgae.criteria_inv_other">
        <b>Criteria invasiveness - other: </b><span style="padding-left:20px"> {{ selectedMicroalgae.criteria_inv_other }} </span>
      </mat-list-item>
      <mat-divider *ngIf="selectedMicroalgae.criteria_inv_other"></mat-divider>
      <mat-list-item *ngIf="selectedMicroalgae.status">
        <b>Status: </b><span style="padding-left:20px"> {{ selectedMicroalgae.status }} </span>
      </mat-list-item>
      <mat-divider *ngIf="selectedMicroalgae.status"></mat-divider>
    </mat-list>
    
</div>

<button mat-button aria-label="Back" matTooltip="Back" (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>