<mat-toolbar color="primary">
  <button fxHide fxShow.gt-sm mat-button routerLink="/">
      <mat-icon>home</mat-icon> 
      {{title}}
  </button>

  <!-- <span class="fill-remaining-space"></span> -->

  <div fxLayout="row" fxHide fxShow.gt-sm>
      <button mat-button routerLink="/list">List</button>
      <button mat-button routerLink="/verify">Verify</button>
      <button *ngIf="!authenticationService.isUserLoggedIn()" mat-button routerLink="/login">Login</button>
      <button *ngIf="authenticationService.isUserLoggedIn()" mat-button routerLink="/logout" (click)=handleLogout()>Logout</button>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxShow fxHide.gt-sm>
   <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>
<mat-menu x-position="before" #menu>
  <button mat-menu-item routerLink="/list">List</button>
  <button mat-menu-item routerLink="/verify">Verify</button>
  <button *ngIf="!authenticationService.isUserLoggedIn()" mat-menu-item routerLink="/login">Login</button>
  <button *ngIf="authenticationService.isUserLoggedIn()" mat-menu-item routerLink="/logout" (click)=handleLogout()>Logout</button>
</mat-menu>

<router-outlet></router-outlet>