<mat-stepper orientation="vertical">
    <mat-step>
      <ng-template matStepLabel>Origin / Type locality</ng-template>
      <ng-template matStepContent>
        <mat-form-field appearance="fill">
          <mat-label>Select an option</mat-label>
          <mat-select [(ngModel)]="selectedOriginTypeLoc" name="originTypeLoc">
            <mat-option [value]="1.1">
              1.1 - Macaronesia
            </mat-option>
            <mat-option [value]="1.2">
              1.2 - NE Atlantic
            </mat-option>
            <mat-option [value]="1.3">
              1.3 - Mediterranean
            </mat-option>
            <mat-option [value]="1.4">
              1.4 - NW Atlantic
            </mat-option>
            <mat-option [value]="1.5">
              1.5 - Other ocean basin (including South Atlantic)
            </mat-option>
            <mat-option [value]="1.6">
              1.6 - Uncertain
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-button matStepperNext>Next</button>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Distribution</ng-template>
      <ng-template matStepContent>
        <p>This content was also rendered lazily</p>
        <mat-form-field appearance="fill">
          <mat-label>Select an option</mat-label>
          <select matNativeControl>
            <optgroup label="2.1 - No biogeographic discontinuity">
              <option value="2.1.1">2.1.1 - Endemic from Macaronesia + Distribution throughout the Macaronesia</option>
              <option value="2.1.2">2.1.2 - Nekton or Plankton widely distributed in the North Atlantic </option>
              <option value="2.1.3">2.1.3 - Deep sea species</option>
            </optgroup>
            <optgroup label="2.2 - Biogeographic discontinuity">
              <option value="2.2.1">2.2.1 - Present only in other ocean basins (excepto Azores)</option>
            </optgroup>
            <optgroup label="2.3 - Biogeographic discontinuity unknown or uncertain">
              <option value="2.3.1">2.3.1 - Present in NE Atlantic</option>
            </optgroup>
          </select>
        </mat-form-field>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Vector</ng-template>
      <p>This content was rendered eagerly</p>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Reports - Historic presence in region</ng-template>
      <p>This content was rendered eagerly</p>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Conspicuousness</ng-template>
      <p>This content was rendered eagerly</p>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Studies</ng-template>
      <p>This content was rendered eagerly</p>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Origin</ng-template>
      <p>This content was rendered eagerly</p>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Economic and/or ecological impact</ng-template>
      <p>This content was rendered eagerly</p>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Criteria invasiveness - spread</ng-template>
      <p>This content was rendered eagerly</p>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Criteria invasiveness - other</ng-template>
      <p>This content was rendered eagerly</p>
      
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </mat-step>
  </mat-stepper>