<mat-stepper orientation="vertical">
  <mat-step state="check">
    <ng-template matStepLabel>1. Origin / Type locality</ng-template>
    <ng-template matStepContent>
      <mat-form-field appearance="fill">
        <mat-label>Select an option</mat-label>
        <mat-select [(ngModel)]="selectedValues[0]" name="originTypeLoc" 
          (ngModelChange)="onChangeOriginTypeLoc($event)" [disabled]="disabledValues[0]">
          <mat-option *ngFor="let item of originTypeLoc" [value]="item.value">
            {{item.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span style="padding-left: 10px">
        <button mat-button matStepperNext aria-label="Next" matTooltip="Next"><mat-icon>arrow_downward</mat-icon></button>
      </span>  
    </ng-template>
  </mat-step>
  <mat-step *ngIf="!disabledValues[1]" state="check">
    <ng-template matStepLabel>2. Distribution</ng-template>
    <ng-template matStepContent>
      <p>This content was also rendered lazily</p>
      <mat-form-field appearance="fill">
        <mat-label>Select an option</mat-label>
        <mat-select [(ngModel)]="selectedValues[1]" name="distribution" 
          (ngModelChange)="onChangeDistribution($event)" [disabled]="disabledValues[1]">
          <mat-optgroup label="2.1 - No biogeographic discontinuity">
            <mat-option *ngFor="let item of distribution_21" [value]="item.value">
              {{item.viewValue}}
            </mat-option>
          </mat-optgroup>
          <mat-optgroup label="2.2 - Biogeographic discontinuity">
            <mat-option *ngFor="let item of distribution_22" [value]="item.value">
              {{item.viewValue}}
            </mat-option>
          </mat-optgroup>
          <mat-optgroup label="2.3 - Biogeographic discontinuity unknown or uncertain">
            <mat-option *ngFor="let item of distribution_23" [value]="item.value">
              {{item.viewValue}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
      <span style="padding-left: 10px">
          <button mat-button matStepperNext aria-label="Next" matTooltip="Next"><mat-icon>arrow_downward</mat-icon></button>
          <button mat-button matStepperPrevious aria-label="Back" matTooltip="Back"><mat-icon>arrow_upward</mat-icon></button>
      </span>      
    </ng-template>
  </mat-step>
  <mat-step *ngIf="!disabledValues[2]" state="check">
    <ng-template matStepLabel>3. Vector</ng-template>
    <ng-template matStepContent>
      <mat-form-field appearance="fill">
        <mat-label>Select an option</mat-label>
        <mat-select [(ngModel)]="selectedValues[2]" name="vector" 
          (ngModelChange)="onChangeVector($event)" [disabled]="disabledValues[2]">
          <mat-option *ngFor="let item of vector" [value]="item.value">
            {{item.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span style="padding-left: 10px">
        <button mat-button matStepperNext aria-label="Next" matTooltip="Next"><mat-icon>arrow_downward</mat-icon></button>
        <button mat-button matStepperPrevious aria-label="Back" matTooltip="Back"><mat-icon>arrow_upward</mat-icon></button>
      </span>  
    </ng-template>
  </mat-step>
  <mat-step *ngIf="!disabledValues[3]" state="check">
    <ng-template matStepLabel>4. Reports - Historic presence in region</ng-template>
    <ng-template matStepContent>
      <mat-form-field appearance="fill">
        <mat-label>Select an option</mat-label>
        <mat-select [(ngModel)]="selectedValues[3]" name="reports"
          (ngModelChange)="onChangeReports($event)" [disabled]="disabledValues[3]">
          <mat-option *ngFor="let item of reports" [value]="item.value">
            {{item.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span style="padding-left: 10px">
        <button mat-button matStepperNext aria-label="Next" matTooltip="Next"><mat-icon>arrow_downward</mat-icon></button>
        <button mat-button matStepperPrevious aria-label="Back" matTooltip="Back"><mat-icon>arrow_upward</mat-icon></button>
      </span>  
    </ng-template>
  </mat-step>
  <mat-step *ngIf="!disabledValues[4]" state="check">
    <ng-template matStepLabel>5. Conspicuousness</ng-template>
    <ng-template matStepContent>
      <mat-form-field appearance="fill">
        <mat-label>Select an option</mat-label>
        <mat-select [(ngModel)]="selectedValues[4]" name="conspicuousness" 
          (ngModelChange)="onChangeConspicuouness($event)" [disabled]="disabledValues[4]">
          <mat-option *ngFor="let item of conspicuousness" [value]="item.value">
            {{item.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span style="padding-left: 10px">
        <button mat-button matStepperNext aria-label="Next" matTooltip="Next"><mat-icon>arrow_downward</mat-icon></button>
        <button mat-button matStepperPrevious aria-label="Back" matTooltip="Back"><mat-icon>arrow_upward</mat-icon></button>
      </span>  
    </ng-template>
  </mat-step>
  <mat-step *ngIf="!disabledValues[5]" state="check">
    <ng-template matStepLabel>6. Studies</ng-template>
    <ng-template matStepContent>
      <mat-form-field appearance="fill">
        <mat-label>Select an option</mat-label>
        <mat-select [(ngModel)]="selectedValues[5]" name="studies" 
          (ngModelChange)="onChangeStudies($event)" [disabled]="disabledValues[5]">
          <mat-option *ngFor="let item of studies" [value]="item.value">
            {{item.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span style="padding-left: 10px">
        <button mat-button matStepperNext aria-label="Next" matTooltip="Next"><mat-icon>arrow_downward</mat-icon></button>
        <button mat-button matStepperPrevious aria-label="Back" matTooltip="Back"><mat-icon>arrow_upward</mat-icon></button>
      </span>  
    </ng-template>
  </mat-step>
  <mat-step *ngIf="!disabledValues[6]" state="check">
    <ng-template matStepLabel>7. Origin</ng-template>
    <ng-template matStepContent>
      <mat-form-field appearance="fill">
        <mat-label>Select an option</mat-label>
        <mat-select [(ngModel)]="selectedValues[6]" name="origin" 
          (ngModelChange)="onChangeOrigin($event)" [disabled]="disabledValues[6]">
          <mat-option *ngFor="let item of origin" [value]="item.value">
            {{item.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span style="padding-left: 10px">
        <button mat-button matStepperNext aria-label="Next" matTooltip="Next"><mat-icon>arrow_downward</mat-icon></button>
        <button mat-button matStepperPrevious aria-label="Back" matTooltip="Back"><mat-icon>arrow_upward</mat-icon></button>
      </span>  
    </ng-template>
  </mat-step>
  <mat-step *ngIf="!disabledValues[7]" state="check">
    <ng-template matStepLabel>8. Economic and/or ecological impact</ng-template>
    <ng-template matStepContent>
      <mat-form-field appearance="fill">
        <mat-label>Select an option</mat-label>
        <mat-select [(ngModel)]="selectedValues[7]" name="economicEcologicalImpact" 
          (ngModelChange)="onChangeEconomic_ecologic_impact($event)" [disabled]="disabledValues[7]">
          <mat-option *ngFor="let item of economicEcologicalImpact" [value]="item.value">
            {{item.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span style="padding-left: 10px">
        <button mat-button matStepperNext aria-label="Next" matTooltip="Next"><mat-icon>arrow_downward</mat-icon></button>
        <button mat-button matStepperPrevious aria-label="Back" matTooltip="Back"><mat-icon>arrow_upward</mat-icon></button>
      </span>  
    </ng-template>
  </mat-step>
  <mat-step *ngIf="!disabledValues[8]" state="check">
    <ng-template matStepLabel>9. Criteria invasiveness - spread</ng-template>
    <ng-template matStepContent>
      <mat-form-field appearance="fill">
        <mat-label>Select an option</mat-label>
        <mat-select [(ngModel)]="selectedValues[8]" name="criteriaInvasivenessSpread" 
          (ngModelChange)="onChangeCriteria_invasiveness_spread($event)" [disabled]="disabledValues[8]">
          <mat-option *ngFor="let item of criteriaInvasivenessSpread" [value]="item.value">
            {{item.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span style="padding-left: 10px">
        <button mat-button matStepperNext aria-label="Next" matTooltip="Next"><mat-icon>arrow_downward</mat-icon></button>
        <button mat-button matStepperPrevious aria-label="Back" matTooltip="Back"><mat-icon>arrow_upward</mat-icon></button>
      </span>  
    </ng-template>
  </mat-step>
  <mat-step *ngIf="!disabledValues[9]" state="check">
    <ng-template matStepLabel>10. Criteria invasiveness - other</ng-template>
    <ng-template matStepContent>
      <mat-form-field appearance="fill">
        <mat-label>Select an option</mat-label>
        <mat-select multiple [(ngModel)]="selectedValues[9]" name="criteriaInvasivenessOther" 
          (ngModelChange)="onChangeCriteria_invasiveness_other($event)"  [disabled]="disabledValues[9]">
          <mat-option *ngFor="let item of criteriaInvasivenessOther" [value]="item.value">
            {{item.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span style="padding-left: 10px">
        <button mat-button matStepperPrevious aria-label="Back" matTooltip="Back"><mat-icon>arrow_upward</mat-icon></button>
      </span>
    </ng-template>
  </mat-step>
  <ng-template matStepperIcon="check">
    <mat-icon>check</mat-icon>
  </ng-template>
</mat-stepper>

<div id="footer">
  <p class="text-footer"> Status: {{status}} </p>
</div>

  